{% extends "base.html" %}
{% set page = 'about' %}

{% block content %}
<img src="images/xavier.jpg" style="float:right"/>
<p>Ingénieur, passionné de logiciel libre, je suis l'un des principaux contributeurs de la suite logicielle <a href="/content/présentation-de-synthese">SYNTHESE</a>.<br />
Je suis chef de projet et architecte logiciel chez <a href="http://www.tisseo.fr"  target="_blank">Tisséo</a> le réseau de transport urbain de l’agglomération de Toulouse.</p>
<p>Je suis membre de <a href="http://www.april.org"  target="_blank">l'April</a> et de <a href="http://toulibre.org"  target="_blank">Toulibre</a>.</p>
<p>Pour plus de détails sur mon parcours vous pouvez consulter mes profils publics <a href="http://fr.viadeo.com/fr/profile/xavier.raffin"  target="_blank">viadeo</a> et <a href="http://fr.linkedin.com/in/xavierraffin/fr"  target="_blank">linkedin</a>.</p>
<p>Vous pouvez aussi suivre mon activité sur <a href="http://www.ohloh.net/accounts/xavierraffin" target="_blank">ohloh</a>, sur <a href="http://github.com/xavierraffin"  target="_blank">github</a>, sur <a href="http://stackoverflow.com/users/1734467/xavierraffin" target="_blank">stackoverflow</a>, sur <a href="http://www.openstreetmap.org/user/xrn/edits" target="_blank">OpenStreetMap</a> et sur <a href="https://twitter.com/xavierraffin" target="_blank">twitter (@xavierraffin)</a>.</p>
<p><a href="http://www.april.org/adherer"  target="_blank"><img src="http://www.april.org/files/banniere_horizontale_soutien_adherent_fulltext_300x100.png" alt="Promouvoir et soutenir le logiciel libre"/></a></p
{% endblock %}


